<div class="container">

    <h1>Grupos</h1>
  <hr>
  <input type="text" [(ngModel)]="buscar" class="form-control" placeholder="Buscar">
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>Grupos</h2>

      <div
        cdkDropList
        [cdkDropListData]="grupo1"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of grupo1 | filterCheck: buscar" cdkDrag style="max-heigth:250px">{{item}}</div>
      </div>
    </div>

    <div class="example-container">
      <h2>Grupos 2</h2>

      <div
        cdkDropList
        [cdkDropListData]="grupo2"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
<ul *ngFor="let item of grupo2">
        <section class="example-section">
          <span class="example-list-section">

              <mat-checkbox>
                <li>{{item}}</li>
              </mat-checkbox>


          </span>

          <span class="example-list-section">
            <ul>
              <li *ngFor="let nombres of grupo3">
                <mat-checkbox>
                  {{nombres}}
                </mat-checkbox>
              </li>
            </ul>
          </span>
        </section>
        </ul>
      </div>
    </div>
</div>

</div>
