<div class="container principal">
  <div class="col-sm-7 col-sm-pull-5 carrusel ">
     <owl-carousel-o [options]="customOptions">
       <ng-template carouselSlide ><img src="https://cdn.pixabay.com/photo/2014/05/02/21/50/blogging-336376_960_720.jpg" alt="" ></ng-template>
       <ng-template carouselSlide ><img src="https://cdn.pixabay.com/photo/2019/02/20/15/03/people-4009327_960_720.png" alt="" ></ng-template>
       <ng-template carouselSlide ><img src="https://cdn.pixabay.com/photo/2013/03/20/17/00/russia-95311_960_720.jpg" alt="" ></ng-template>
       <ng-template carouselSlide ><img src="https://cdn.pixabay.com/photo/2017/03/27/12/38/adult-2178440_960_720.jpg" alt="" ></ng-template>
       <ng-template carouselSlide ><img src="https://cdn.pixabay.com/photo/2019/02/20/15/03/people-4009327_960_720.png" alt="" ></ng-template>

     </owl-carousel-o>
  </div>

</div>
